@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-white: #F8F8F8;
  --muted-gold: rgb(197, 158, 92);
}

* {
  box-sizing: border-box;
  @apply text-gray-300;
}

body {
  background-color: radial-gradient(circle at center, rgb(26, 41, 92) 0%, rgb(42, 63, 136) 60%, rgb(19, 30, 67) 100%);
}

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
